@{
    ViewBag.Title = "Reset password confirmation";
}
 <!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/Content/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="~/Content/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

<!-- JS  -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/materialize.js"></script>
<script src="~/Scripts/init.js"></script>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
